@model IEnumerable<Core.Domain.Entities.Salvas>
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado</h1>

<p>
    <a asp-action="Create" class="btn float-right" data-toggle="tooltip" data-placement="top" title="Crear"><i class="fa fa-plus-square fa-2x"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conexion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conexion.Nombre)
                </td>
                <td>
                    <a asp-action="PerformBackup" asp-route-id="@item.Id" class="btn" data-toggle="tooltip" data-placement="top" title="Ejecutar"><i class="fa fa-play"></i></a> |
                    <a asp-action="DownloadBackup" asp-route-id="@item.Id" class="btn" data-toggle="tooltip" data-placement="top" title="Descargar"><i class="fa fa-download"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn" data-toggle="tooltip" data-placement="top" title="Detalles"><i class="fa fa-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
