@model Core.Domain.Entities.Conexion

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar</h1>

<h3>Está seguro que desea eliminar?</h3>
<div>
    <h4>Conexion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servidor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servidor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Puerto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Puerto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BaseDatos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BaseDatos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Delete">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <a asp-action="Index" class="btn" data-toggle="tooltip" data-placement="top" title="Volver al listado">
                        <i class="fa fa-arrow-left"></i>
                    </a>

                    <button type="submit" class="btn float-right" data-toggle="tooltip" data-placement="top" title="Eliminar">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
